<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  {% unless page.path == "README.md" %}
  <header>
    <nav>
<h1>
        {% if page.url == "/sre-concepts/home.html" %}
        <a href="/sre-concepts/home.html">Table of Contents</a>
      {% else %}
        <a href="/sre-concepts/home.html">SRE Concepts</a>
      {% endif %}
    </h1>
        <ul id="toc">
          <!-- Table of Contents will be populated here by JavaScript -->
        </ul>
      </nav>
  </header>
  {% endunless %}
  {% if page.path == "README.md" %}
  <header>
    <h1>Chase Cargill</h1>
    <h4><a href="https://github.com/ChaseC-130/ChaseC-130.github.io" target="_blank">GitHub</a></h4>
        <h4><a href="https://www.linkedin.com/in/chase-cargill-31288b178/" target="_blank">LinkedIn</a></h4>

  </header>
  {% endif %}

  <body>
    <div class="wrapper">
        <div class="content-wrapper">

          <div class="main-content">
            {{ content }}
          </div>
        </div>
      </div>
      
    <script src="{{ site.baseurl }}/assets/js/scale.fix.js"></script>
    <script src="{{ site.baseurl }}/assets/js/auto_linker.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          var toc = document.getElementById("toc");
          if (toc) {
            var headings = document.querySelectorAll("h1");
            headings.forEach(function(heading) {
                if (heading.innerText !== "Table of Contents" && heading.innerText !== "SRE Concepts" && heading.innerText !== "SRE Principles") {
                    var anchor = document.createElement("a");
                    anchor.setAttribute("href", "#" + heading.id);
                    anchor.textContent = heading.textContent;
                    var listItem = document.createElement("li");
                    listItem.appendChild(anchor);
                    toc.appendChild(listItem);
                }

            });
          }
        });
        </script>
        
  </body>
</html>